<div ng-controller="ChatCtrl">
                <h2 class="chatapi-head">Chat

                <a href data-toggle="chatbar" class="toggle_chat" ng-click="app.settings.chatFolded = !app.settings.chatFolded; menuChatToggle('chat',app.settings.chatFolded) ">
                    <i class="material-icons">close</i>
                </a>

</h2>

    
<!--</perfect-scrollbar>-->
<div  ui-chatwindow ng-controller="userNameCtrl">
    <perfect-scrollbar class="chaton-window" wheel-propagation="true" suppress-scroll-x="true"  min-scrollbar-length="20">
        
<!--        <i class="material-icons closewindow pull-right">close</i>-->
        <h2 class="chatapi-head">Chat</h2>
        <div class="chatarea">
            <div class="chatmsg msg_receive">

                <div class="msg_info">
                    

                </div>
                           </div>
            <div class="chatmsg msg_sent" >
                <div  class="msg_info" >
                <ul ng-repeat="message in messages track by $index">
                  <li>{{users[0].name}}:    {{message}}</li>
                   
                  
                </ul>
                
                
                

                </div>

            </div>
        </div>
        <div class="typearea" chatapifocus>
            <i ng-click="sendMessage()" class="material-icons">chat</i>
            
            <input type="text" ng-model="messages.text" placeholder="Type &amp; Enter" class="form-control" > 
        </div>
    </perfect-scrollbar>
</div>
</div>