<div class='content-wrapper' ng-controller="userNameCtrl" ng-init="app2.settings.pagetitle = 'clientInfo';">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Client Profile Info</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-0">
                <div class="row">
                    <form action ="#" method="post">
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
                            <div class="form-group">
                                <label class="form-label" for="field-1">Name</label>
                                <span class="desc"></span>
                                <div  class="form-control" id="field-1">
                                <p>{{users[1].name}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-5">Date</label>
                                
                                <span class="desc"></span>
                                <div  class="form-control" id="field-1">
                                <p>{{users[1].dateAdded| date:"MM/dd/yyyy 'at' h:mma"}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-5">Company</label>
                                <span class="desc"></span>
                                <span class="desc"></span>
                                <div  class="form-control" id="field-1">
                                <p>The Diamond Company</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Email</label>
                                <span class="desc"></span>
                                <div  class="form-control" id="field-1">
                                <p>{{users[1].email}}</p>
                                </div>
<!--
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="Rocket Consulting Inc." class="form-control" id="field-1">
-->
                                </div>
                            </div>
                            <div class="form-group">
<!--                                <label class="form-label" for="field-5">Phone Number</label>-->
<!--                                <span class="desc">eg: 404990304</span>-->
                                <div class="input-group" inputgroup>
                                   <label class="form-label" for="field-5">Phone Number</label>
                                   <div  class="form-control" id="field-1">
                                <p>972-543-2311</p>
                                </div>
                                   
<!--
                                    <select class="form-control ">
                                        <option></option>
                                        <option selected="selected">Credit Card</option>
                                        <option>Paypal</option>
                                        <option>Cash on Delivery</option>
                                        <option>Net Banking</option>
                                    </select>
-->
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-1">Assigned Developer</label>
                                <span class="desc"></span>
                                <div  class="form-control" id="field-1">
                                <p>Dario Sumlin</p>
                                </div>
<!--
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="Fire Media Corp." class="form-control" id="field-1">
-->
<!--                                </div>-->
                            </div>
<!--
                            <div class="form-group">
                                <label class="form-label" for="field-1">Bid Price</label>
                                <span class="desc">Eg: $400.00</span>
                                <div class="controls">
                                    <input type="text" value="$500.00" class="form-control" id="field-1">
                                </div>
                            </div>
-->
<!--
                            <div class="form-group">
                                <label class="form-label" for="field-1">Tax</label>
                                <span class="desc">Eg: $40.00</span>
                                <div class="controls">
                                    <input type="text" value="$50.00" class="form-control" id="field-1">
                                </div>
                            </div>
-->
<!--
                            <div class="form-group">
                                <label class="form-label" for="field-6">Brief</label>
                                <span class="desc">e.g. "Enter any size of text description here"</span>
                                <div class="controls">
                                    <textarea class="form-control" cols="5" id="field-6">Seller agrees to provide all the services to buyer, as per project description in alloted period of time.</textarea>
                                </div>
                            </div>
                        </div>
-->
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                            <div class="text-left">
<!--
                                <button type="button" class="btn btn-primary">Save</button>
                                <button type="button" class="btn">Cancel</button>
-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>

</div>