
<div class='content-wrapper' ng-init="app.settings.pagetitle = 'videochat';">
    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Video Chat</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-15">
<!--            <button>Call Client</button>-->
            <div ng-controller="BroadcastAppController">
              

              <button ng-click="prepare()" >Prepare to broadcast</button>
              <div ng-show="hasStream">
               <input type="text" ng-model="roomName" placeholder="Enter a new room name" />
                <button ng-click="start()" >Start room</button> 
              </div>
              <broadcaster
                has-stream="hasStream"
                room-name="roomName"
                is-broadcasting="isBroadcasting"></broadcaster>
            </div>
            
            </div>
            
           
<!--
            <div ng-controller="userNameCtrl">
                <video autoplay ng-src={{screen}}></video>
            </div>
-->
        </section>
    </div>
</div>
